@keyframes dancer-show-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
@media screen and (min-width: 769px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    height: 100%;
  }
  .honk-me {
    width: fit-content;
  }
  .cat-dance,
  .doge-dance {
    display: block;
    position: absolute;
    height: 25%;
    width: 25%;
    border-radius: 40%;
    opacity: 0;
  }
  .dancer {
    animation: dancer-show-up 8s normal forwards;
  }
  .cat-dance {
    bottom: 0;
    left: 0;
  }
  .doge-dance {
    top: 0;
    right: 0;
  }
}
