@media screen and (min-width: 769px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
  }
  .honk-me {
    width: fit-content;
  }
  .cat-dance {
    display: block;
    position: absolute;
    height: 25%;
    bottom: 0;
    left: 0;
    border-radius: 40%;
    opacity: 0.5;
  }
}
