/* GENERAL */
:root {
  --main-color: orchid;
  --footer-color: #1d1d1d;
  font-family: 'Erica One';
  text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
  margin: 0;
}
@font-face {
  src: url(typography/EricaOne-Regular.woff);
  src: url(typography/EricaOne-Regular.woff2);
  font-family: 'Erica One';
}
* {
  box-sizing: border-box;
}
html {
  cursor: url('media/smolMango.png'), auto;
  height: 100%;
  min-height: 100%;
  background: url('https://images.pexels.com/photos/7135074/pexels-photo-7135074.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
body {
  height: 100%;
  min-height: 100%;
}
main {
  color: var(--footer-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 100%;
  font-size: 300%;
  user-select: none;
}
h1 {
  margin: auto;
}
img {
  height: 100%;
}

/* ANIMATIONS */
@keyframes chonk-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes chonk-sized {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
@keyframes top-slider {
  from {
    transform: translateY(-120%);
  }
  to {
    transform: translateY(15%);
  }
}
@keyframes bottom-slider {
  from {
    transform: translateY(120%);
  }
  to {
    transform: translateY(-15%);
  }
}
.first-container {
  transform: translateY(-120%);
}
.second-container {
  transform: translateY(120%);
}
.top-slider, .bottom-slider{
  height: 34%;
}
.bottom-slider {
  animation: bottom-slider 11.8s ease-in-out forwards;
}
.top-slider {
  animation: top-slider 11.8s ease-in-out forwards;
}
.orchid-chonker {
  color: var(--main-color);
}
.spinny-Chonker {
  opacity: 0.6;
  text-shadow: -2px 0 gold, 0 4px gold, 4px 0 gold, 0 -2px gold;

  animation: chonk-rotate linear 6s infinite;
}
.bouncy-Chonker {
  animation: chonk-sized ease 0.1875s alternate infinite;
}
.cat-dance {
  display: none;
}
.doge-dance {
  display: none;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: xx-small;
  color: var(--footer-color);
}
