
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-image: url("https://images.pexels.com/photos/7135074/pexels-photo-7135074.jpeg?auto=compress&w=1250");
}
h1 {
    color: orchid;
}